<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="Voice 1" value="IVONA 2 Ivy OEM"/>
      <add key="Voice 2" value="IVONA 2 Brian OEM"/>
      <add key="Voice 3" value="Vocalizer Expressive Samantha Harpo 22kHz"/>
      <add key="DirectLineSecret" value="cpHzHZZmOWU.ZZ2X6Zl0E9TkFeP2tgGUcDL6tfo4NYkUBgIt-mGDaog" />
      <add key="BotId" value="libOct8" />
      <add key="RobotName" value="alpha" />      
      <add key="ActivateRosyKeywords" value="alpha|ralph|lexa|how do i|i dont' have|outback|lol|pineapple|outlook|have a|gramma|elsa|how far|hello answer|hello after|apa|papa|hello robot|apple" />
      <add key="AuthenticationUri" value="" />
      <add key="subscriptionkey" value="d1e239e6bbff446e86882ef1c2b285a8" />
      <add key="SubscriptionRegion" value="southeastasia" />
      <add key="SpeechRecognitionSubscriptionKey" value="44e8d997d8bc4462bf2bca3c5527e3ef" />     
      <add key="ClientSettingsProvider.ServiceUri" value="" />
      <add key="AnnMess" value="" />
      <add key="AnnTime" value="" />
      <add key="AnnLoops" value="" />
      <add key="AnnInterval" value="" />
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
